<form action="/new" id="form" method="POST" style="display: flex;flex-direction: column; width:500px;font-size:2rem;text-align: center;">
    <span>tên</span>
    <input type="text" id="name" name="name">
    <span>img</span>
    <input type="text" id="image" name="image">
    <span>price</span>
    <input type="text" id="price" name="price">
    <span>mô tả</span>
    <input type="text" id="description" name="description">
    <span>nhà sản xuất</span>
    <input type="text" id="producer" name="producer">
    <span>category</span>
    <input type="text" id="category" name="category">
    <button type="submit">ok</button>
</form>
