<div class="section">
    <form action="/signin" method="POST" class="form-login" id="form">
        <a href="#" class="form-header">
            <span>LSShop</span>
        </a>

        <div class="form-group">
            <span class="form-group-title"></span>
            <input type="text" placeholder="UserName" class="form-input" id="userName" name="userName">
            <span class="form-icon"></span>
        </div>
        <div class="form-group">
            <input type="password" placeholder="Password" class="form-input" id="password" name="password">
            <span class="form-icon"></span>

        </div>
        <div class="form-group">
            <span class="form-icon-err-msg">
                {{#if err.[0].userName}}
                {{err.[0].userName}}
                {{/if}}
            </span>
            <span class="form-icon-err-msg">
                {{#if err.[0].password}}
                {{err.[0].password}}
                {{/if}}
            </span>
        </div>
        <div class="form-btn">
            <button class="btn btn-submit" type="submit">Sign in</button>
        </div>
        <span class="form-delimiter">or connect with</span>
        <div class="form-social">
            <div class="form-social-item facebook">
                <i class='bx bxl-facebook'></i>
            </div>
            <div class="form-social-item g-signin2" data-onsuccess="onSignIn">
                <i class='bx bxl-google'></i>
                <div id="name"></div>
            </div>
            <div class="form-social-item twitter">
                <i class='bx bxl-twitter'></i>
            </div>
            {{!-- <a href="" class="form-social-item facebook">
                <i class='bx bxl-facebook'></i>
            </a>
            <a href="" class="form-social-item google">
                <div class="g-signin2" data-onsuccess="onSignIn"><i class='bx bxl-google'></i></div>

            </a>
            <a href="" class="form-social-item twitter">
                <i class='bx bxl-twitter'></i>
            </a> --}}
        </div>
        <span class="form-txt">
            Do have an account?
            <a href="/signup">Sign up</a>
        </span>
        <span class="form-txt">
            <a href="#"> Forgot password</a>
        </span>
    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    function onSignIn(googleUser) {
        let id_token = googleUser.getAuthResponse().id_token;
        $.ajax({
            type: 'POST',
            url: 'signin/auth',
            data: JSON.stringify({ id_token: id_token }),
            contentType: "application/json",
        })
            .then(result => {
            })
    }
</script>