<div class="footer">
    <div class="section">
        <div class="footer-main">
            <div class="row">
                <div class="col-3">
                    <ul class="footer-menu-list">
                        <li class="footer-menu-item"><a href="">Lịch sử mua hàng</a></li>
                        <li class="footer-menu-item"><a href="">Cộng tác bán hàng cùng TGDĐ</a></li>
                        <li class="footer-menu-item"><a href="">Tìm hiểu về mua trả góp</a></li>
                        <li class="footer-menu-item"><a href="">Chính sách bảo hành</a></li>
                        <li class="footer-menu-item"><a href="">Giao hàng & Thanh toán</a></li>
                    </ul>
                </div>
                <div class="col-3">
                    <ul class="footer-menu-list">
                        <li class="footer-menu-item"><a href="">Giới thiệu công ty (KMA.vn)</a></li>
                        <li class="footer-menu-item"><a href="">Tuyển dụng</a></li>
                        <li class="footer-menu-item"><a href="">Gửi góp ý, khiếu nại</a></li>
                        <li class="footer-menu-item"><a href="">Hướng dẫn mua online</a></li>
                        <li class="footer-menu-item"><a href="">Nội quy cửa hàng</a></li>
                    </ul>
                </div>
                <div class="col-3">
                    <ul class="footer-menu-list">
                        <li class="footer-menu-item"><a href="">Tổng đài hỗ trợ (Miễn phí gọi)</a></li>
                        <li class="footer-menu-item"><a href="">Gọi mua: 0373376457 (7:30 - 22:00)</a></li>
                        <li class="footer-menu-item"><a href="">Kỹ thuật: 0373376457 (7:30 - 22:00)</a></li>
                        <li class="footer-menu-item"><a href="">Khiếu nại: 0373376457 (8:00 - 21:30)</a></li>
                        <li class="footer-menu-item"><a href="">Bảo hành: 0373376457 (8:00 - 21:00)</a></li>
                    </ul>
                </div>
                <div class="col-3">
                    <div class="footer-social">
                        <a href="" class="link"><i class='bx bxl-facebook fb'></i>facebook</a>
                        <a href="" class="link"><i class='bx bxl-youtube yt'></i>youtube</a>
                    </div>
                    <div class="footer-application">
                        <a href=""><img
                                src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/f4f5426ce757aea491dce94201560583.png"
                                alt=""></a>
                        <a href=""><img
                                src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/39f189e19764dab688d3850742f13718.png"
                                alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>