<header>
    <div class="header-wrapper">
        <div class="header-wrapper-top">
            <ul class="header-top-list">
                <li class="header-top-item">
                    <a href="#">+84373376457</a>
                </li>
                <li class="header-top-item">
                    <a href="#">lamsonkma@gmail.com</a>
                </li>
            </ul>
            <ul class="header-top-list">
                <li class="header-top-item top-down">
                    <a href="#">Bạn đang xem tại</a>
                    <span class="down"></span>
                    <ul class="header-top-item-content">
                        <li><a href="">Hà Nội</a></li>
                        <li><a href="">Đà Nẵng</a></li>
                        <li><a href="">Hồ Chí Minh</a></li>
                    </ul>
                </li>
                <li class="header-top-item">
                    <a href="#">Tuyển dụng</a>
                </li>
            </ul>
        </div>
        <div class="header-wrapper-container">
            <div class="header-wrapper-main">
                <a href="/" class="logo">LSShop</a>
                <div class="search">
                    <input type="text" placeholder="Search" id="search" onkeyup="search(this.value)">
                    <i class='bx bx-search-alt'></i>
                    <div class="search-result">
                        <div class="result">
                            {{!-- <a href="#"><span>iphone</span></a> --}}

                        </div>
                    </div>
                </div>
                <div class="header-container">
                    <ul class="header-container-list">
                        <li class="header-container-item">
                            <a href="/signin" class="user">
                                <i class='bx bxs-user-circle'></i>
                            </a>
                        </li>
                        <li class="header-container-item"><a href="#" class="notification"><i
                                    class='bx bxs-bell-ring'></i></a></li>
                        <li class="header-container-item">
                            <a href="/cart" class="cart">
                                <i class='bx bxs-cart'></i>
                                <div class="cart-number-product">
                                    
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="header-wrapper-footer">
            <div class="header-footer-main">
                <ul class="header-footer-list">
                    <li class="header-footer-item"><a href="/product?category=phone"><i class='bx bx-tab'></i>Điện thoại</a></li>
                    <li class="header-footer-item"><a href="/product?category=laptop"><i class='bx bx-laptop'></i>Laptop</a></li>
                    <li class="header-footer-item item-down"></i><a href=""><i class='bx bx-headphone'></i>Phụ
                            kiện<span class="down"></span></a></span>
                        <div class="footer-down">
                            <ul class="footer-down-list">
                                <li class="footer-down-item item-title">Phụ kiện di động</li>
                                <li class="footer-down-item"><a href="">Sạc, cáp</a></li>
                                <li class="footer-down-item"><a href="">Miếng dán màn hình</a></li>
                                <li class="footer-down-item"><a href="">Ốp lưng</a></li>
                                <li class="footer-down-item"><a href="">Giá đỡ</a></li>
                                <li class="footer-down-item"><a href="">Túi chống nước</a></li>
                            </ul>
                            <ul class="footer-down-list">
                                <li class="footer-down-item item-title">Phụ kiện máy tính</li>
                                <li class="footer-down-item"><a href="">Sạc, cáp</a></li>
                                <li class="footer-down-item"><a href="">Miếng dán màn hình</a></li>
                                <li class="footer-down-item"><a href="">Ốp lưng</a></li>
                                <li class="footer-down-item"><a href="">Giá đỡ</a></li>
                                <li class="footer-down-item"><a href="">Túi chống nước</a></li>
                            </ul>
                            <ul class="footer-down-list">
                                <li class="footer-down-item item-title">Thương hiệu</li>
                                <li class="footer-down-item"><a href="">Apple</a></li>
                                <li class="footer-down-item"><a href="">Samsung</a></li>
                                <li class="footer-down-item"><a href="">Xiaomi</a></li>
                                <li class="footer-down-item"><a href="">Sony</a></li>
                                <li class="footer-down-item"><a href="">Oppo</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="header-footer-item"><a href=""><i class='bx bxs-watch-alt'></i>Đồng hồ</a></li>
                    <li class="header-footer-item"><a href="">Máy cũ</a></li>
                    <li class="header-footer-item"><a href="">Thẻ cào</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>