<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- begin font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <!-- end font -->
    <!-- begin icon -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!-- end icon -->
    <!-- begin owl -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- end owl -->
    <!-- begin style css -->
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/gird.css">
    <!-- end style css -->
    <title>LSShop</title>
</head>

<body>
    <header>
        <div class="header-wrapper">
            <div class="header-wrapper-top">
                <ul class="header-top-list">
                    <li class="header-top-item">
                        <a href="#">+84373376457</a>
                    </li>
                    <li class="header-top-item">
                        <a href="#">lamsonkma@gmail.com</a>
                    </li>
                </ul>
                <ul class="header-top-list">
                    <li class="header-top-item top-down">
                        <a href="#">Bạn đang xem tại</a>
                        <span class="down"></span>
                        <ul class="header-top-item-content">
                            <li><a href="">Hà Nội</a></li>
                            <li><a href="">Đà Nẵng</a></li>
                            <li><a href="">Hồ Chí Minh</a></li>
                        </ul>
                    </li>
                    <li class="header-top-item">
                        <a href="#">Tuyển dụng</a>
                    </li>
                </ul>
            </div>
            <div class="header-wrapper-container">
                <div class="header-wrapper-main">
                    <a href="#" class="logo">LSShop</a>
                    <div class="search">
                        <input type="text" placeholder="Search">
                        <i class='bx bx-search-alt'></i>
                    </div>
                    <div class="header-container">
                        <ul class="header-container-list">
                            <li class="header-container-item">
                                <a href="#" class="user">
                                    <i class='bx bxs-user-circle'></i>
                                </a>
                                <!-- <div class="infors-user">
                                    <ul class="infos-user-list">
                                        <li class="infors-user-item">Đăng nhập</li>
                                        <li class="infors-user-item">Đăng xuất</li>
                                        <li class="infors-user-item">Thông tin</li>
                                    </ul>
                                </div> -->
                            </li>
                            <li class="header-container-item"><a href="#" class="notification"><i
                                        class='bx bxs-bell-ring'></i></a></li>
                            <li class="header-container-item"><a href="#" class="cart"><i class='bx bxs-cart'></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="header-wrapper-footer">
                <div class="header-footer-main">
                    <ul class="header-footer-list">
                        <li class="header-footer-item"><a href=""><i class='bx bx-tab'></i>Điện thoại</a></li>
                        <li class="header-footer-item"><a href=""><i class='bx bx-laptop'></i>Laptop</a></li>
                        <li class="header-footer-item item-down"></i><a href=""><i class='bx bx-headphone'></i>Phụ
                                kiện<span class="down"></span></a></span>
                            <div class="footer-down">
                                <ul class="footer-down-list">
                                    <li class="footer-down-item item-title">Phụ kiện di động</li>
                                    <li class="footer-down-item"><a href="">Sạc, cáp</a></li>
                                    <li class="footer-down-item"><a href="">Miếng dán màn hình</a></li>
                                    <li class="footer-down-item"><a href="">Ốp lưng</a></li>
                                    <li class="footer-down-item"><a href="">Giá đỡ</a></li>
                                    <li class="footer-down-item"><a href="">Túi chống nước</a></li>
                                </ul>
                                <ul class="footer-down-list">
                                    <li class="footer-down-item item-title">Phụ kiện máy tính</li>
                                    <li class="footer-down-item"><a href="">Sạc, cáp</a></li>
                                    <li class="footer-down-item"><a href="">Miếng dán màn hình</a></li>
                                    <li class="footer-down-item"><a href="">Ốp lưng</a></li>
                                    <li class="footer-down-item"><a href="">Giá đỡ</a></li>
                                    <li class="footer-down-item"><a href="">Túi chống nước</a></li>
                                </ul>
                                <ul class="footer-down-list">
                                    <li class="footer-down-item item-title">Thương hiệu</li>
                                    <li class="footer-down-item"><a href="">Apple</a></li>
                                    <li class="footer-down-item"><a href="">Samsung</a></li>
                                    <li class="footer-down-item"><a href="">Xiaomi</a></li>
                                    <li class="footer-down-item"><a href="">Sony</a></li>
                                    <li class="footer-down-item"><a href="">Oppo</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="header-footer-item"><a href=""><i class='bx bxs-watch-alt'></i>Đồng hồ</a></li>
                        <li class="header-footer-item"><a href="">Máy cũ</a></li>
                        <li class="header-footer-item"><a href="">Thẻ cào</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="section">
            <div class="product-detail-main">
                <div class="overLoadSuccess">
                    <p>Thêm thành công</p>
                    <i class='bx bx-check-circle' ></i>
                </div>
                <div class="box">
                    <div class="breadcrumb">
                        <a href="./index.html">Trang chủ</a>
                        <span><i class='bx bxs-chevrons-right'></i></span>
                        <a href="#">Điện thoại</a>
                        <span><i class='bx bxs-chevrons-right'></i></span>
                        <a href="./product.html">Iphone</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-7">
                        <div class="img-container">
                            <div class="product-img" id="product-img">
                                <img src="https://cdn.tgdd.vn/Products/Images/42/213033/iphone-12-pro-max-xanh-duong-1-org.jpg"
                                    alt="">
                            </div>
                            <div class="box">
                                <div class="product-img-list">
                                    <div class="product-img-item">
                                        <img src="https://cdn.tgdd.vn/Products/Images/42/213033/iphone-12-pro-max-xanh-duong-1-org.jpg"
                                            alt="">
                                    </div>
                                    <div class="product-img-item">
                                        <img src="https://cdn.tgdd.vn/Products/Images/42/213033/iphone-12-pro-max-1-org.jpg"
                                            alt="">
                                    </div>
                                    <div class="product-img-item">
                                        <img src="https://cdn.tgdd.vn/Products/Images/42/213033/iphone-12-pro-max-bac-1-org.jpg"
                                            alt="">
                                    </div>
                                    <div class="product-img-item">
                                        <img src="https://cdn.tgdd.vn/Products/Images/42/213033/iphone-12-pro-max-xam-1-org.jpg"
                                            alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="product-detail-infos">
                            <div class="product-info-name">
                                <h1>iPhone 12 Pro Max 128GB</h1>
                            </div>
                            <div class="product-info-detail">
                                <span class="product-info-detail-title">Điện thoại:</span><span>Iphone</span>
                                <div class="rating product-info-detail-rating">
                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                </div>
                                <p class="product-info-detail-description">
                                    iPhone 12 Pro Max 128 GB một siêu phẩm smartphone đến từ Apple.
                                    Máy có một hiệu năng hoàn toàn mạnh mẽ đáp ứng tốt nhiều nhu cầu đến từ người dùng
                                    và
                                    mang trong mình một thiết kế đầy vuông vức, sang trọng
                                </p>
                                <div class="product-info">
                                    <p class="price-curent">30.490.000₫</p>
                                    <span>*</span>
                                    <p class="price-old">32.990.000₫</p>
                                    <span class="percent">-6%</span>
                                </div>
                                <div class="product-quantity-wrapper">
                                    <span class="product-quantity-btn">
                                        <i class='bx bx-minus-circle'></i>
                                    </span>
                                    <span class="product-quantity">0</span>
                                    <span class="product-quantity-btn">
                                        <i class='bx bx-plus-circle'></i>
                                    </span>
                                </div>
                            </div>
                            <div class="btn-add-cart">
                                <button>Thêm vào giỏ hàng</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="section-header">Sản phẩm tương tự</div>
            <div class="owl-carousel owl-theme list-product">
                <div class="product-item">
                    <div class="item-img">
                        <img src="https://cdn.tgdd.vn/Products/Images/42/213033/iphone-12-pro-max-xanh-duong-new-600x600-600x600.jpg"
                            alt="">
                    </div>
                    <div class="product-infos">
                        <div class="product-title delay-2">iPhone 12 Pro Max 128GB</div>
                        <div class="product-info delay-2">
                            <p class="price-old">32.990.000₫</p>
                            <span class="percent">-6%</span>
                        </div>
                        <p class="price-curent delay-2">30.490.000₫</p>
                        <div class="product-rating delay-2">
                            <div class="rating">
                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                            </div>
                            <p class="product-rating-total">120</p>
                        </div>
                        <div class="btn-hover delay-2">
                            <a href="#">Xem ngay</a>
                        </div>
                    </div>
                </div>
                <div class="product-item">
                    <div class="item-img">
                        <img src="https://cdn.tgdd.vn/Products/Images/42/213033/iphone-12-pro-max-xanh-duong-new-600x600-600x600.jpg"
                            alt="">
                    </div>
                    <div class="product-infos">
                        <div class="product-title delay-2">iPhone 12 Pro Max 128GB</div>
                        <div class="product-info delay-2">
                            <p class="price-old">32.990.000₫</p>
                            <span class="percent">-6%</span>
                        </div>
                        <p class="price-curent delay-2">30.490.000₫</p>
                        <div class="product-rating delay-2">
                            <div class="rating">
                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                            </div>
                            <p class="product-rating-total">120</p>
                        </div>
                        <div class="btn-hover delay-2">
                            <a href="#">Xem ngay</a>
                        </div>
                    </div>
                </div>
                <div class="product-item">
                    <div class="item-img">
                        <img src="https://cdn.tgdd.vn/Products/Images/42/213033/iphone-12-pro-max-xanh-duong-new-600x600-600x600.jpg"
                            alt="">
                    </div>
                    <div class="product-infos">
                        <div class="product-title delay-2">iPhone 12 Pro Max 128GB</div>
                        <div class="product-info delay-2">
                            <p class="price-old">32.990.000₫</p>
                            <span class="percent">-6%</span>
                        </div>
                        <p class="price-curent delay-2">30.490.000₫</p>
                        <div class="product-rating delay-2">
                            <div class="rating">
                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                            </div>
                            <p class="product-rating-total">120</p>
                        </div>
                        <div class="btn-hover delay-2">
                            <a href="#">Xem ngay</a>
                        </div>
                    </div>
                </div>
                <div class="product-item">
                    <div class="item-img">
                        <img src="https://cdn.tgdd.vn/Products/Images/42/213033/iphone-12-pro-max-xanh-duong-new-600x600-600x600.jpg"
                            alt="">
                    </div>
                    <div class="product-infos">
                        <div class="product-title delay-2">iPhone 12 Pro Max 128GB</div>
                        <div class="product-info delay-2">
                            <p class="price-old">32.990.000₫</p>
                            <span class="percent">-6%</span>
                        </div>
                        <p class="price-curent delay-2">30.490.000₫</p>
                        <div class="product-rating delay-2">
                            <div class="rating">
                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                            </div>
                            <p class="product-rating-total">120</p>
                        </div>
                        <div class="btn-hover delay-2">
                            <a href="#">Xem ngay</a>
                        </div>
                    </div>
                </div>
                <div class="product-item">
                    <div class="item-img">
                        <img src="https://cdn.tgdd.vn/Products/Images/42/213033/iphone-12-pro-max-xanh-duong-new-600x600-600x600.jpg"
                            alt="">
                    </div>
                    <div class="product-infos">
                        <div class="product-title delay-2">iPhone 12 Pro Max 128GB</div>
                        <div class="product-info delay-2">
                            <p class="price-old">32.990.000₫</p>
                            <span class="percent">-6%</span>
                        </div>
                        <p class="price-curent delay-2">30.490.000₫</p>
                        <div class="product-rating delay-2">
                            <div class="rating">
                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                            </div>
                            <p class="product-rating-total">120</p>
                        </div>
                        <div class="btn-hover delay-2">
                            <a href="#">Xem ngay</a>
                        </div>
                    </div>
                </div>
                <div class="product-item">
                    <div class="item-img">
                        <img src="https://cdn.tgdd.vn/Products/Images/42/213033/iphone-12-pro-max-xanh-duong-new-600x600-600x600.jpg"
                            alt="">
                    </div>
                    <div class="product-infos">
                        <div class="product-title delay-2">iPhone 12 Pro Max 128GB</div>
                        <div class="product-info delay-2">
                            <p class="price-old">32.990.000₫</p>
                            <span class="percent">-6%</span>
                        </div>
                        <p class="price-curent delay-2">30.490.000₫</p>
                        <div class="product-rating delay-2">
                            <div class="rating">
                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                            </div>
                            <p class="product-rating-total">120</p>
                        </div>
                        <div class="btn-hover delay-2">
                            <a href="#">Xem ngay</a>
                        </div>
                    </div>
                </div>
                <div class="product-item">
                    <div class="item-img">
                        <img src="https://cdn.tgdd.vn/Products/Images/42/213033/iphone-12-pro-max-xanh-duong-new-600x600-600x600.jpg"
                            alt="">
                    </div>
                    <div class="product-infos">
                        <div class="product-title delay-2">iPhone 12 Pro Max 128GB</div>
                        <div class="product-info delay-2">
                            <p class="price-old">32.990.000₫</p>
                            <span class="percent">-6%</span>
                        </div>
                        <p class="price-curent delay-2">30.490.000₫</p>
                        <div class="product-rating delay-2">
                            <div class="rating">
                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                            </div>
                            <p class="product-rating-total">120</p>
                        </div>
                        <div class="btn-hover delay-2">
                            <a href="#">Xem ngay</a>
                        </div>
                    </div>
                </div>
                <div class="product-item">
                    <div class="item-img">
                        <img src="https://cdn.tgdd.vn/Products/Images/42/213033/iphone-12-pro-max-xanh-duong-new-600x600-600x600.jpg"
                            alt="">
                    </div>
                    <div class="product-infos">
                        <div class="product-title delay-2">iPhone 12 Pro Max 128GB</div>
                        <div class="product-info delay-2">
                            <p class="price-old">32.990.000₫</p>
                            <span class="percent">-6%</span>
                        </div>
                        <p class="price-curent delay-2">30.490.000₫</p>
                        <div class="product-rating delay-2">
                            <div class="rating">
                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                            </div>
                            <p class="product-rating-total">120</p>
                        </div>
                        <div class="btn-hover delay-2">
                            <a href="#">Xem ngay</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="box">
                <div class="box-header">
                    review
                </div>
                <div class="user-rate">
                    <div class="user-infor">
                        <div class="user-avatar">
                            <img src="https://scontent-hkg4-1.xx.fbcdn.net/v/t1.6435-9/45163731_2149953281935907_2745995870502649856_n.jpg?_nc_cat=103&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=1NIWhGtQoywAX96lmMl&_nc_ht=scontent-hkg4-1.xx&oh=851d703052d7dac1fc42a51cf8402605&oe=60D890E6"
                                alt="">
                        </div>
                        <div class="user-name">
                            <span>Nguyễn lam sơn</span>
                            <div class="rating">
                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                            </div>
                        </div>
                    </div>
                    <div class="user-content">
                        Dạ trường hợp này nếu sản phẩm mình mua bên em thì mình mang sản phẩm ra
                        siêu thị để bên em kiểm tra và gửi hãng thẩm định trước đã nha,
                        nếu thay được thì sẽ thông tin về cho mình mức giá cụ thể sau ạ.
                    </div>
                </div>
                <div class="user-rate">
                    <div class="user-infor">
                        <div class="user-avatar">
                            <img src="https://scontent-hkg4-1.xx.fbcdn.net/v/t1.6435-9/45163731_2149953281935907_2745995870502649856_n.jpg?_nc_cat=103&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=1NIWhGtQoywAX96lmMl&_nc_ht=scontent-hkg4-1.xx&oh=851d703052d7dac1fc42a51cf8402605&oe=60D890E6"
                                alt="">
                        </div>
                        <div class="user-name">
                            <span>Nguyễn lam sơn</span>
                            <div class="rating">
                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                            </div>
                        </div>
                    </div>
                    <div class="user-content">
                        Dạ trường hợp này nếu sản phẩm mình mua bên em thì mình mang sản phẩm ra
                        siêu thị để bên em kiểm tra và gửi hãng thẩm định trước đã nha,
                        nếu thay được thì sẽ thông tin về cho mình mức giá cụ thể sau ạ.
                    </div>
                </div>
                <div class="user-rate">
                    <div class="user-infor">
                        <div class="user-avatar">
                            <img src="https://scontent-hkg4-1.xx.fbcdn.net/v/t1.6435-9/45163731_2149953281935907_2745995870502649856_n.jpg?_nc_cat=103&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=1NIWhGtQoywAX96lmMl&_nc_ht=scontent-hkg4-1.xx&oh=851d703052d7dac1fc42a51cf8402605&oe=60D890E6"
                                alt="">
                        </div>
                        <div class="user-name">
                            <span>Nguyễn lam sơn</span>
                            <div class="rating">
                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                            </div>
                        </div>
                    </div>
                    <div class="user-content">
                        Dạ trường hợp này nếu sản phẩm mình mua bên em thì mình mang sản phẩm ra
                        siêu thị để bên em kiểm tra và gửi hãng thẩm định trước đã nha,
                        nếu thay được thì sẽ thông tin về cho mình mức giá cụ thể sau ạ.
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="comment">
                    <!-- <form action="" class="form-comment">
                        <textarea name="" id="" cols="60" rows="10" placeholder="Mời bạn chia sẻ cảm nhận"></textarea>
                        <div class="rating commend-rating">
                            <div class="quality">
                                <span>☆</span>
                                <span>Rất tệ</span>
                            </div>
                            <div class="quality">
                                <span>☆</span>
                                <span>Tệ</span>
                            </div>
                            <div class="quality">
                                <span>☆</span>
                                <span>Bình thường</span>
                            </div>
                            <div class="quality">
                                <span>☆</span>
                                <span>Tốt</span>
                            </div>
                            <div class="quality">
                                <span>☆</span>
                                <span>Rất tốt</span>
                            </div>
                        </div>
                    </form> -->
                    <div class="btn-submit-comment">
                        <a href="">Gửi bài đánh giá</a>
                    </div>
                </div>
            </div>
            <div class="box">
                <ul class="pagination">
                    <li><a href=""><i class='bx bx-chevron-left'></i></a></li>
                    <li><a href="" class="pagination-active">1</i></a></li>
                    <li><a href="">2</i></a></li>
                    <li><a href="">3</i></a></li>
                    <li><a href="">4</i></a></li>
                    <li><a href="">5</i></a></li>
                    <li><a href=""><i class='bx bx-chevron-right'></i></a></li>
                </ul>
            </div>

        </div>
    </div>
    <div class="footer">
        <div class="section">
            <div class="footer-main">
                <div class="row">
                    <div class="col-3">
                        <ul class="footer-menu-list">
                            <li class="footer-menu-item"><a href="">Lịch sử mua hàng</a></li>
                            <li class="footer-menu-item"><a href="">Cộng tác bán hàng cùng TGDĐ</a></li>
                            <li class="footer-menu-item"><a href="">Tìm hiểu về mua trả góp</a></li>
                            <li class="footer-menu-item"><a href="">Chính sách bảo hành</a></li>
                            <li class="footer-menu-item"><a href="">Giao hàng & Thanh toán</a></li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <ul class="footer-menu-list">
                            <li class="footer-menu-item"><a href="">Giới thiệu công ty (KMA.vn)</a></li>
                            <li class="footer-menu-item"><a href="">Tuyển dụng</a></li>
                            <li class="footer-menu-item"><a href="">Gửi góp ý, khiếu nại</a></li>
                            <li class="footer-menu-item"><a href="">Hướng dẫn mua online</a></li>
                            <li class="footer-menu-item"><a href="">Nội quy cửa hàng</a></li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <ul class="footer-menu-list">
                            <li class="footer-menu-item"><a href="">Tổng đài hỗ trợ (Miễn phí gọi)</a></li>
                            <li class="footer-menu-item"><a href="">Gọi mua: 0373376457 (7:30 - 22:00)</a></li>
                            <li class="footer-menu-item"><a href="">Kỹ thuật: 0373376457 (7:30 - 22:00)</a></li>
                            <li class="footer-menu-item"><a href="">Khiếu nại: 0373376457 (8:00 - 21:30)</a></li>
                            <li class="footer-menu-item"><a href="">Bảo hành: 0373376457 (8:00 - 21:00)</a></li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <div class="footer-social">
                            <a href="" class="link"><i class='bx bxl-facebook fb'></i>facebook</a>
                            <a href="" class="link"><i class='bx bxl-youtube yt'></i>youtube</a>
                        </div>
                        <div class="footer-application">
                            <a href=""><img
                                    src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/f4f5426ce757aea491dce94201560583.png"
                                    alt=""></a>
                            <a href=""><img
                                    src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/39f189e19764dab688d3850742f13718.png"
                                    alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="messenger">
        <a href="">
            <i class='bx bx-comment-detail'></i>
            <span>Góp ý</span>
        </a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../../js/product-detail.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>